<div class="d-flex justify-content-between align-items-center shadow py-3 ">

    <div class="d-flex align-items-center justify-content-center ">
        <a class=" w-50 "><img src="assets/images/Logo.png" class="w-100" alt="checkout"></a>
        <h5>CheckOut</h5>
    </div>
    <p class="me-4  text-pointer" routerLink="/home"> Continue Browsing</p>
</div>



<section class="container p-5  mt-2">
    <div class="row text-center ">
        <div class="col-12 col-md-6">
            <div class="alert alert-secondary" role="alert">
                logged as {{userEmail}}
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt temporibus laboriosam voluptas quibusdam
            sit ad ut nemo. At necessitatibus ipsa, modi perspiciatis veritatis eligendi fugit doloremque, dicta, et
            ratione minima animi nemo. Tenetur dolores sint laborum? Perferendis veniam labore est atque, autem
            repellendus delectus doloribus? Voluptates nihil sunt reprehenderit, earum ea incidunt! Impedit ea
            praesentium consequatur dolore unde consectetur aperiam repudiandae! At iusto ipsam dolores aliquam nostrum
            aliquid et quod debitis fugiat quam! Impedit beatae necessitatibus eaque magni asperiores numquam fuga
            maxime nisi dolorum adipisci vel iusto possimus odio aperiam laboriosam distinctio nostrum incidunt
            suscipit, eligendi eveniet! Praesentium pariatur quidem officiis nam explicabo repellendus distinctio
            similique saepe veritatis, qui fugiat, iste possimus repellat culpa suscipit quasi sit soluta iure autem
            assumenda nemo! Fugiat cum debitis culpa molestiae, harum voluptatem laborum magnam, soluta explicabo ab
            nobis. Sed iste illo tenetur iure, modi asperiores nostrum quibusdam atque tempore facilis non minima ipsum
            voluptate architecto quae vitae autem mollitia ducimus doloribus optio molestiae id earum quaerat? Natus
            aliquid non eaque distinctio aperiam ullam ipsa exercitationem laboriosam iste quidem modi quasi repudiandae
            maxime similique, architecto optio consequuntur tempora quae nisi itaque odio debitis hic est molestias.
            Totam facere nulla dolor corporis ipsam. Doloremque facere id, nihil veniam numquam necessitatibus enim
            quam, eos deserunt maiores exercitationem rerum harum in. Deleniti laborum aliquid minima officiis minus,
            quaerat soluta in provident, quam repellat voluptates voluptate inventore numquam suscipit! Saepe odit animi
            et laboriosam quia eos dolorum, veniam voluptatem eius itaque recusandae error! Doloribus temporibus hic
            accusamus, nam quo sed quibusdam inventore velit est vitae quos maxime cumque repellat, quod, veritatis
            autem amet perspiciatis ad soluta officia. Culpa architecto inventore nesciunt laudantium facere, tempore
            blanditiis repudiandae rem eius porro incidunt quaerat cumque veniam ratione illum consequuntur ipsum ex
            accusantium? Voluptatem rem veritatis qui, itaque facilis enim. Ex, deleniti recusandae perspiciatis
            repellendus assumenda doloremque quaerat culpa ullam quia sunt reiciendis fugiat autem ut necessitatibus
            odit quae rem. Voluptates ducimus quas odio eum perspiciatis rem soluta sit! Dolorem est sit iste earum eos,
            id assumenda rem tempore quod hic odit in nam architecto explicabo tempora nihil repellendus et, doloremque,
            ducimus itaque saepe velit! Unde nesciunt modi sit, quae commodi dicta in corporis officiis animi
            praesentium, esse cumque ducimus. Natus fugiat voluptate voluptatum aperiam modi excepturi suscipit
            deleniti, qui iusto quaerat nobis ipsum harum accusantium tempora magni enim, architecto nesciunt iste quas,
            corporis veritatis possimus! Impedit quae esse aperiam sint expedita ea eligendi praesentium tenetur, vel
            tempore molestiae. Consectetur perferendis adipisci beatae et reprehenderit eum inventore. Accusamus dolore
            aliquam ut esse ratione quisquam, ullam delectus nemo aut quia neque, voluptatem corrupti labore placeat
            distinctio expedita laborum? A, nemo magnam molestias voluptatibus rem cum repudiandae dolorem laboriosam
            quod soluta, tenetur repellat! Laboriosam atque ducimus sint accusamus perspiciatis in quos inventore
            praesentium? Doloribus hic atque nisi. Expedita tempore nulla illum excepturi adipisci nostrum delectus enim
            tempora! Cum animi tempore neque facilis itaque, facere pariatur natus perferendis ipsa architecto quia,
            sunt vero mollitia minus quas? Molestiae libero quasi dolor error accusamus, recusandae natus modi omnis
            sequi voluptas dolorum! Ullam, magnam voluptates, dolorem, nulla iste ipsa porro quasi itaque consequatur
            impedit voluptatibus eos assumenda. Aspernatur dolor inventore, et exercitationem perspiciatis quod
            molestias ratione cum modi est vero harum voluptatem expedita sapiente similique laboriosam accusamus
            voluptas impedit veritatis nam animi recusandae deserunt accusantium. Dicta culpa pariatur facilis magni
            obcaecati eveniet eaque, nulla esse numquam ab, a consectetur consequuntur incidunt. Nulla maiores minima
            temporibus alias amet animi adipisci aliquid, odio ab nam quas eveniet ea laudantium cupiditate soluta eius
            pariatur? Corrupti perferendis voluptatibus beatae neque saepe cumque nulla sunt odio, dolorum vel itaque
            amet exercitationem voluptate excepturi veniam. Dolor incidunt mollitia fugiat maiores veritatis et
            adipisci, nostrum molestiae voluptate eveniet asperiores! Praesentium vero voluptates maxime illo omnis,
            dolorem provident cupiditate temporibus perferendis assumenda hic ratione eligendi quas obcaecati quis error
            ullam architecto maiores similique natus commodi, dolor nihil. Sit quia aut perferendis aliquid ab sed quasi
            similique? Nihil repudiandae porro at praesentium necessitatibus! Cupiditate molestias aliquam earum nisi,
            dolores facere, eaque mollitia, officiis soluta aperiam eum quaerat voluptatem tempora minus. Natus
            provident accusantium id voluptatibus fugit totam vero nemo quisquam sunt dolore, accusamus placeat
            repellendus beatae aliquam nesciunt, praesentium ullam qui! Reiciendis quo quidem enim sed cumque quisquam
            doloremque rem beatae necessitatibus dolorem, ducimus quis tenetur. Quod impedit perferendis distinctio
            modi? Consequuntur similique libero ipsam, dolorem dolor qui vitae accusantium perferendis. Nostrum libero
            alias distinctio reiciendis, nulla repudiandae recusandae nam velit delectus molestias inventore dicta
            commodi mollitia exercitationem. Reiciendis harum eum rem quasi, at asperiores itaque natus, error quam vel
            earum dignissimos quidem eius necessitatibus adipisci fugit corrupti amet et quisquam dolorum nam tempora ea
            unde inventore! Maiores harum voluptatum sequi quas voluptatibus perferendis quibusdam molestias culpa ipsa
            error optio numquam libero similique incidunt consequuntur eum totam amet enim neque, at nemo eos eius cum.
            Consequuntur libero non delectus dignissimos eveniet fugiat hic ad? Sed labore harum consectetur nulla quos
            placeat pariatur consequatur repudiandae. Aspernatur vitae, assumenda quo quae nemo excepturi qui explicabo
            laboriosam possimus quas earum dolores voluptatibus harum maxime cum, a est tempora odio dolorem atque,
            labore fugiat totam! Voluptatibus sequi suscipit voluptas? Iusto consectetur, velit inventore neque
            perspiciatis suscipit facilis. Odit quos qui maxime accusamus iure voluptatum ipsum, a nesciunt iste.
            Consequatur ad earum fuga cupiditate perferendis non dolorem omnis iusto nam perspiciatis, labore aspernatur
            ullam odit! Placeat corrupti asperiores natus quia consectetur! Illo consectetur quae dicta consequatur
            adipisci alias omnis animi in sequi voluptatum asperiores nam dignissimos doloremque neque magnam voluptatem
            dolor repellendus pariatur, molestias quisquam enim ullam optio. Qui quas enim laborum illo voluptates,
            sapiente non deserunt, dicta possimus odit dolores ipsum fugit amet in tempora assumenda eveniet inventore
            et animi rem. Quia distinctio eum, officiis sint beatae labore consequatur iste possimus nisi doloremque
            voluptate, quo, ad libero at natus adipisci saepe aliquam eaque earum! Est placeat voluptatum incidunt quod
            minus asperiores dolorum vel autem tempore velit, amet blanditiis distinctio reiciendis fugit deleniti
            expedita dolor. Est, alias. Sunt tempore, quas magni at minus voluptatum doloribus sequi sed dolore tempora
            vero totam exercitationem.
        </div>
        <div id="a7a" class="col-12 col-md-6 ">
            <div class="alert alert-secondary" role="alert">
                <div class="d-flex justify-content-between">
                    <p>Order summary ({{numberOfItems}})</p>
                    <p class="text-pointer" routerLink="/shop">Continue Shopping</p>
                </div>
                <hr>
                <div id="div-items">
                    <div class="d-flex justify-content-between mb-2  " *ngFor="let item of items ,let i=index">
                        <div class="d-flex">
                            <img [src]="item.pictureUrl" [alt]="item.name">
                            <div class="ms-2">
                                <p>{{item.name}}</p>
                                <p>Qty : {{item.quantity}}</p>
                            </div>
                        </div>
                        <p>{{item.price}},00 EGP</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <p>subtotal</p>
                    <p>{{totalAmount}},00 EGP</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Delivery</p>
                    <p>55,00 EGP</p>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <p>total</p>
                    <p>65500 EGP</p>
                </div>
            </div>
        </div>
    </div>
</section>