<section class=" py-5  mt-5">
    <h2 class="mt-5 text-center text-Color">signUp now</h2>
    <h5 class="mt-2 text-center text-Color">{{errorMessege}}</h5>
    <form class="mt-4" (ngSubmit)="signUpSubimt(registerForm)" [formGroup]="registerForm">
        <div class="container">
            <div>
                <label [ngClass]="{'slide-up':labelval}" [ngStyle]="{'opacity':labelval !=''?'1':'0'}"
                    for="name">userName :</label>
                <input id="name" formControlName="displayName" (keyup)="label1($event)" placeholder="userName"
                    type="text" class="w-100 mt-3  border-0 ">
                <hr>
                <div class="bg-success text-white p-2  mt-1"
                    *ngIf="registerForm.get('displayName')?.errors && registerForm.get('displayName')?.touched">
                    <p *ngIf="registerForm.get('displayName')?.errors?.['required']">input is required</p>
                    <p *ngIf="registerForm.get('displayName')?.errors?.['minlength']">min length is 3</p>
                    <p *ngIf="registerForm.get('displayName')?.errors?.['maxlength']">max length is 10</p>
                </div>
            </div>
            <div>
                <label for="email" [ngClass]="{'slide-up':labelval2}"
                    [ngStyle]="{'opacity':labelval2 !=''?'1':'0'}">Email :</label>
                <input id="email" formControlName="email" (keyup)="label3($event)" placeholder="email" type="email"
                    class="w-100 mt-3  border-0 ">
                <div class="bg-success text-white p-2  mt-1"
                    *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
                    <p *ngIf="registerForm.get('email')?.errors?.['required']">input is required</p>
                    <p *ngIf="registerForm.get('email')?.errors?.['email']">enter a valid email</p>
                </div>
                <hr>
            </div>
            <div>
                <div class="position-relative">
                    <label for="password" [ngClass]="{'slide-up':labelval3}"
                        [ngStyle]="{'opacity':labelval3 !=''?'1':'0'}">Password </label>
                    <input id="password" formControlName="password" (keyup)="label4($event);validPassword(registerForm)"
                        placeholder="Password" [attr.type]="isShowPassword ? 'text' : 'password'"
                        class="w-100 mt-3  border-0 ">
                    <div class=" text-end">
                        <i (click)="showPassword()"
                            class="fa-solid fa-eye text-end position-absolute top-50 text-pointer text-Color"></i>
                    </div>
                    <hr>
                </div>
                <div class="bg-success text-white p-2  mt-1"
                    *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                    <p *ngIf="registerForm.get('password')?.errors?.['required']">input is required</p>
                    <p *ngIf="registerForm.get('password')?.errors?.['pattern']">password must contain at least one
                        number , one upper case charachter ,one alphanumeric</p>
                </div>
            </div>

            <div>
                <div class="position-relative">
                    <label for="rePassword" [ngClass]="{'slide-up':labelval4}"
                        [ngStyle]="{'opacity':labelval4 !=''?'1':'0'}">RePassword </label>
                    <input id="rePassword" formControlName="rePassword"
                        (keyup)="label5($event);validPassword(registerForm)" placeholder="rePassword"
                        [attr.type]="isShowRePassword ? 'text' : 'password'" class="w-100 mt-3  border-0 ">
                    <div class=" text-end">
                        <i (click)="showRePassword()"
                            class="fa-solid fa-eye text-end position-absolute top-50 text-pointer text-Color"></i>
                    </div>
                    <hr>
                </div>
                <div *ngIf="!isMatch" class="bg-success text-white p-2  mt-1">
                    <p>passwords did not match </p>
                </div>
            </div>

            <div>
                <label for="phone" [ngClass]="{'slide-up':labelval1}"
                    [ngStyle]="{'opacity':labelval1 !=''?'1':'0'}">Phone Number :</label>
                <input id="phone" formControlName="PhoneNumber" (keyup)="label2($event)" placeholder="phone number"
                    type="text" class="w-100 mt-3  border-0 ">
                <hr>
                <div class="bg-success text-white p-2  mt-1"
                    *ngIf="registerForm.get('PhoneNumber')?.errors && registerForm.get('PhoneNumber')?.touched">
                    <p *ngIf="registerForm.get('PhoneNumber')?.errors?.['required']">input is required</p>
                    <p *ngIf="registerForm.get('PhoneNumber')?.errors?.['pattern']">enter an egyption phone number</p>
                </div>
            </div>
            <button type="submit" [disabled]="registerForm.invalid" 
                class="border-0 rounded mt-2">
                <div *ngIf="isLoading">
                    <div class="loader"></div>
                </div>
                <i *ngIf="!isLoading">submit</i>
            </button>
        </div>
    </form>

</section>