<section class="container p-5 mt-5">
   <div class="text-end mt-5">
    <div class="btn-group ">
        <button class="btn btn-secondary btn-lg dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          sort by
        </button>
        <ul class="dropdown-menu">
          <li><a>shehab</a></li>
          <li><a>shehab</a></li>
          <li><a>shehab</a></li>

        </ul>
      </div>
   </div>
    <div class="row text-center p-3 ">
        <div class=" col-lg-4 my-4 ">
            <p class="text-start">Filter by</p>
            <hr>
            <p>shehab</p>
            <p>shehab</p>
            <p>shehab</p>
            <p>shehab</p>
            <p>shehab</p>
            <p>shehab</p>
            <p>shehab</p>
            <p>shehab</p>
        </div>
        <div class=" col-lg-2 my-4 ">shehab</div>
        <div class=" col-lg-2 my-4 ">shehab</div>
        <div class=" col-lg-2 my-4 ">shehab</div>
        <div class=" col-lg-2 my-4 ">shehab</div>


    </div>
    
</section> 