
span.author-color {
    position: absolute;
    bottom: 90%;
    left: 0%;
    font-size: 16px;
    display: inline-block;
    background-color: #00e689;
    color: white;
    padding: 0 10px;
}

.img-span {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 0px;
    text-align: center;
    font-size: 16px;
    transition: all .5s;
    padding: 10px 0;
    opacity: 0;
}

.col-xl-3:hover .img-span {
    height: 50px;
    opacity: 1;
}

img{
    transition: all .5s;
}

.col-xl-3:hover img {
   transform: scale(1.1);
}
.col-xl-3:hover button.btn-dark {
    opacity: 1;
}

button.w-100{
    opacity: 0;
    transition: all .7s;
}

button {
    border-radius: 0;
}

.container {
    padding: 30px 100px;
}

.display-offcanvas{
    display: none;
}

.dropdown-item:hover {
    background-color: var(--second-color);
    color: white;
}

@media (min-width: 0px) and (max-width: 991px) {

    .container {
        padding: 20px;
    }
    .display-accordion
    {
        display: none;
    }
    .display-offcanvas{
        display: block;
    }
}



  