<section class="container p-5 mt-5">
  <h2 *ngIf="ifError" class="text-center mt-5">!oops somthing error , please <a class="text-Color"
      (click)="reloadPage()">reload page</a></h2>
  <div class="text-end mt-5">
    <div class="btn-group ">
      <button class="btn btn-secondary btn-lg dropdown-toggle " type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        sort by
      </button>
      <ul class="dropdown-menu">
        <li><a>shehab</a></li>
        <li><a>shehab</a></li>
        <li><a>shehab</a></li>

      </ul>
    </div>
  </div>
  <div class="row text-center p-3 ">
    <div class=" col-lg-4 my-4 ">
      <p class="text-start">Filter by</p>
      <hr>
      <div *ngFor="let cat of categories ,let i=index">
        <p class="text-pointer">{{cat.name}}</p>
      </div>
     
    </div>
    <div class=" col-lg-8 ">
      <div class="row text-center p-3 ">
        <div class="col-md-6 col-12 col-lg-4 my-4" *ngFor="let book of books ,let i=index">
          <div class="position-relative">
            <div class="position-relative">
              <img class="text-pointer" [src]="book.pictureUrl" [alt]="book.name">
              <span class="img-span bg-light text-pointer">quick view</span>
            </div>
            <span class="author-color">{{book.author}}</span>
          </div>
          <p class="px-3">{{book.name}}</p>
          <p>{{book.price}} EGP</p>
          <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div>
          <button class="btn btn-outline-Color px-5 mt-3" (click)=" loadMore()" [disabled]="pageSize>=count">load more</button>
        </div>
      </div>
    </div>


  </div>

</section>