
.content {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

div .d-flex{
overflow: hidden;
justify-content: center;
align-content: center;
}

@media (min-width: 0px) and (max-width: 991px) {
    img{
        width: 100%;
    }
}

