<section class="container p-5 mt-5 ">


    <nav aria-label="breadcrumb " class=" mt-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/shop']">shop</a></li>
            <li class="breadcrumb-item"><a>{{book?.name}}</a></li>
        </ol>
    </nav>

    <div class="row mt-5 ">
        <div class="col-12 col-lg-7 col-md-6  mb-2  d-flex">
            <img class="img-fluid shadow" [src]="book?.pictureUrl" [alt]="book?.name">
        </div>
        <div class="col-12 col-lg-5 col-md-6 ">
            <h2>Name : {{book?.name}}</h2>
            <p>Price : {{book?.price}} EGP</p>
            <p>Author : {{book?.author}}</p>
            <p>Category : {{book?.category}}</p>
            <p>description : {{book?.description}}</p>
            <div class="mb-2 ">
                <label for="#input">In Stock</label>
                <input id="input" type="text" class="form-control w-25" [value]="book?.inStock" disabled>
            </div>
            <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"  (click)="addToBasket(book?.id)" [disabled]="book?.inStock===0" class="btn btn-dark  w-100  "> {{
                book?.inStock === 0 ? 'Out of Stock'
                :
                'Add To Cart' }}</button>
        </div>
    </div>
</section>