<div class="position-relative text-center headDiv">
    <img class="mt-5 " src="assets/images/homeBackground.jpg" alt="homeBackground">
    <h2 class="second-Color ">Happy reading</h2>
</div>
<h3 class="text-center second-Color mt-3">All Books</h3>

<section class="container p-5 mt-5">
    <div class="row text-center p-3 ">
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
        <div class="col-md-6 col-12 col-lg-3 my-4  ">
            <div class="position-relative">
                <div class="position-relative">
                <img  src="assets/images/9ac831_23a235abb1854489aaafcff8da6ad2a6~mv2.jpg" alt="">
                <span class="img-span bg-light">quick view</span>
                </div>
                <span class="bg-success">shehab sameh</span>
            </div>
            <p class="px-3">What's Happening to Me?: Boy (Facts Of Life)</p>
            <p>250 EGP</p>
            <button class="btn btn-dark w-100">Add To cart</button>
        </div>
       
    </div>
</section> 
   


